# deps
node_modules/
.pnpm-store/

# build
dist/
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# test
coverage/

# supabase
infra/supabase/.branches/
infra/supabase/.temp/

# python
__pycache__/
*.pyc
.venv/
